/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* BASE LAYOUT */

html {
	background-color: #ddd;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #ffffff;
	color: #333333;
	margin: 0 auto;
	max-width: 960px;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	   -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #255b17;
}

#grailsLogo {
	background-color: #abbf78;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link, a:visited, a:hover {
	color: #48802c;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 1.25em;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */

#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
}

.content h1 {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.scaffold-list h1 {
	border: none;
}

.footer {
	background: #abbf78;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #255b17;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
	background-color: #efefef;
	padding: 0.5em 0.75em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 25%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.5em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0 50% no-repeat;
	text-indent: 22px;
}

.message {
	background: transparent url(../images/skin/information.png) 0 50% no-repeat;
	text-indent: 22px;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
	background: #E1F2B6;
}

/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}







.dialogVPanel {
	margin: 5px;

}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.lblHeader {
	background-color: skyblue;
	color: white;
	font-size: 20px;
}

.blue {
	color: blue;
}

.greencolor {
	color: green;
}

.redcolor {
	color: red;
}

.blueBackground {
	background-color: darkblue;
	color: white;
	font-size: 18px;
}

.blueBold {
	color: blue;
	font-weight: bold;
}

.form-row {
	margin: 6px 0 0 5px;
	padding: 5px 0 3px 0;
	border-bottom: 1px dotted #ddd;
}

.heading {
	width: 400px;
	font-size: 20px;
	margin-top: 1px;
	margin-left: 5px;
	margin-bottom: 1px;
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
}

#loginArea {
	margin-left: 1050px;
	margin-top: 100px;
	width: 400px;
}

.border {
	width: 500px;
	height: 250px;
	margin-left: 25px;
	background-color: #F0F0F0;
}

.headerSignin {
	background-color: #003366;
	color: white;
	font-size: 17px;
	font-family: Engravers MT;
	padding: 3px;
	height: 30px;
}

.headerSigninSmall {
	background-color: #003366;
	color: white;
	font-size: 12px;
	font-family: Engravers MT;
	padding: 3px;
	height: 20px;
}

.fieldsStyle {
	margin-left: 30px;
	padding-left: 10px;
}

.error {
	color: red;
}

.register {
	font-size: 10px;
	cursor: pointer;
	margin-top: 7px;
	color: blue;
	margin-left: 5px;
	height: 10px;
	width: 100px;
	display: inline-block;

}

.hover {
	cursor: pointer;
}

.btnStyle {

	color: white;
	padding: 3px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #ccc;
	line-height: 1px;
	text-align: center;
	background-color: #003366;
	cursor: pointer;
	border-radius: 4px;
	width: 80px;
	height: 28px;
}

.point{
	cursor: pointer;
}

.linkStyle {

	color: blue;
	margin-left: 35px;
	margin-top: 0px;
	padding: 3px;
}

.mainPanel {
	padding-left: 200px;
	width: 727px;
}

.btnStyle:hover {
	border: 1px solid #003366;
	cursor: pointer;
}

.btnStyle:active {
	border: 1px solid #aaa;
}

.anchorStyle:hover {
	font-size: 14px;
}

.register:hover {
	text-decoration: underline;
	color: blue;
}

.linkStyle:hover {
	text-color: blue;
	cursor: pointer;
}
/** Creation client */
.body {
	height: 500px;
	width: 825px;
	margin-top: 20px;
	margin-left: 150px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: lightsteelblue;
	border-radius: 4px;
	border: 1px solid gray;
}

.name {
	width: 810px;
	height: 30px;
	padding-left: 3px;
	padding-top: 3px;
	border: 1px solid;
	border: 1px dotted gray;
	border-radius: 4px;
}

.inLine {
	display: inline-block;
	margin-left: 2px;
}

.analysis {
	width: 300px;
	height: 50px;
	margin-top: 100px;
	float: right;
}



.textBoxStyle {
	width: 300px;
	height: 25px;
}

.TextBox {
	width: 300px;
	height: 25px;
}

.information {
	width: 400px;
	height: 160px;
	float: left;
	margin-right: 10px;
	margin-top: 1px;
	border: 1px dotted gray;
	position: relative;
	border-radius: 4px;
	color: blue;
}

.client {
	width: 395px;
	height: 170px;
	float: left;
	position: relative;
	margin-top: 10px;
	border: 1px dotted gray;
	background-color: white;
	border-radius: 4px;
}

.principle {
	width: 385px;
	height: 110px;
	float: right;
	margin-top: 10px;
	position: relative;
}

.listbox {
	margin-top: 6px;
	width: 276px;
	background-color: #F0F0F0;
	color: blue;
	position: relative;
	border-radius: 4px;
	border: 1px solid gray;
}

.listbox1 {
	margin-top: 6px;
	width: 276px;
	background-color: white;
	color: blue;
	position: relative;
	border-radius: 4px;
	border: 1px solid gray;
}

.labelsmargin {
	margin-top: 6px;
	text-align: right;
	width: 110px;
	padding-right: 8px;
	color: blue;
}

.labeltop {
	float: right;
	width: 400px;
	margin-top: -16px;
}

/** search screen  */
.vlayout {
	margin-left: 200px;
}

.tabset {
	border: 1px;
}

/** search screen  */
.vlayout {
	margin-left: 300px;
	margin-top: 100px
}

.tabset {
	border: 1px;
}

.whitelayout {
	margin-top: 50px;
	margin-left: 10px;
	float: left;
}

.lboxlayout {
	margin-top: 1px;
	margin-left: 1px;
	float: left;
}

.btnlayout {
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

.editCell {
	color: blue !important;
	cursor: pointer !important;
}

.whitebg {
	background-color: white !important;
}


.white {
	color: #FFF;
	font-family: sans-serif;
	font-size: 12px;
}

.bluebg {
	background-color: #98AFC7 !important;
}

.bold {
	font-weight: bold;
}

.controlPanelHeadings {
	font-family: "Times New Roman",Times,serif;
	font-size: 20px;
	line-height: 35px;
}

.labelStyle {
	font-family: "Times New Roman",Times,serif;
	font-size: 14px;

}

.centerPanelHeadings {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 25px;
	line-height: 30px;
}

.centeredText {
	text-align: center;
}

.center {
	margin: auto;
	padding-left: 130px;
	padding-top: 100px;
	width: 90%;

}

#centerofBrowser {
	margin-left: auto;
	margin-right: auto;
}
.browserCenter{
	padding-left: 25%;
	padding-top:10%;
	padding-bottom:10%;
}
.browserRight{
	padding-left: 50%;
	padding-top:10%;
	padding-bottom:10%;
}

.hover:HOVER {
	color: darkblue;
	text-decoration: underline;
}

.graybackground {
	background-color: #F5F5F5;
}

/**  METRO CSS   */

body {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Background.jpg) bottom no-repeat;

}


span.start {
	color:white;
	font-size:2em;

}

.credits {
	color:white;
	text-align:right;
	text-decoration:none;
	font-weight: bold;
}


.metro-surface{
	padding: 40px 0px 0px 0px;
}


.metro-tile {
	background-color: #D8512B;
	border-color: #DC6241;
	width: 400px;
	height: 130px;
	padding: 5px;
	color: #FFF;
	font-family: sans-serif;
	font-size: 12px;
	border-width: 3px;
	border-style: solid;
	cursor: default;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
}


.metro-tile-small {
	width: 250px;
	height: 130px;
}

.metro-tile-dashboard {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/XBox.png);
	background-position: 8px 8px;
	background-color:#6CB71E;
	border-color:#6CB71E;
}

.metro-tile-portal {
	background: url('https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Music.png');
	background-color: purple;
	border-color: purple;
}


.metro-tile-accordion {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Twitter.png);
	background-color: #2878EC;
	background-position: 0 10px;
	border-color: #2878EC;
}


.metro-tile-aciii {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/AC3.jpg);
	border-color: black;
}


.metro-tile-dropbox {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Dropbox.png);
	background-color: #2878EC;
	border-color: #2878EC;
}

div.metro-tile:hover {
	-webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid;

	-webkit-transition-property: top, bottom;
	-webkit-transition-duration: 0.5s;
}
div.metro-tile:ACTIVE {
	border-style: solid;
	border-width: 3px;
	transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(20deg);
}


div.metro-tile:hover > #content {
	height: 30%;
	width: 100%;
}
/** METRO CSS END*/

#content {
	width: 20px;
	background: white;
	height: 0;
	transition: all 0.4s ease-in-out;

	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
	opacity: 0.4;
	padding-top: 15px;
}

.slideUpPanel{
	background-color: #87CEEB;
	color: #FFFFFF;
	font-size: 15px;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}



/******** + Sticky Footer including Header ********/

#bodyContainer {
	margin-bottom:50px;
}

#footerContainer {
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	height:50px;
	margin-bottom:0px;
}
#footer-spacer{
	margin: 20px 20px;
}

/*************** - Sticky Footer End ******************/
.shadowDiv{
	background-color: #FEFEFE;
	border: 2px none;
	box-shadow: 5px 5px 5px #888888;
	padding-left: 20%;
	padding-top: 50px;
	width: 500px;
	padding-bottom: 50px;
}
.userIcon{

	background-repeat:no-repeat;
	padding-left:30px;
}
.passwordIcon{

	background-repeat:no-repeat;
	padding-left:30px;
}
.coloredDiv{
	background-color: #E8E8E8 ;
	box-shadow: 2px 2px 3px #C8C8C8 ;
	float: left;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;


}
.imageButton{

	background-repeat: no-repeat;
}
.gwt-DisclosurePanel{
	height: 20px !important;
	width: 20px !important;
}

.gwt-DisclosurePanel .header{
	font-size: 20px !important;
	width: 20px !important;
	height: 20px !important;
}

.errorPanel{

	border:1px solid #f5aca6;
}
.alert-box {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 10px 10px 36px;
	margin:10px;
}
.gwt-PopupPanel{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 solid #C3D9FF !important;
}

